@{
    var connectedUser = Registrar.Models.User.ConnectedUser;
    string action = ViewContext.RouteData.Values["action"].ToString();
    string controller = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="layout-header">
    <div class="header-left">
        @* Le bouton Hamburger pour le menu latéral *@
        <i class="icon fa fa-bars" id="menu-toggle" title="Menu"></i>
        <span class="header-title">@ViewBag.Title</span>
    </div>

    @if (connectedUser != null)
    {
        <div class="header-right">
            @if (action == "Index")
            {
                <i id="toggleSearchBtn" class="icon fa fa-search" title="Rechercher"></i>
                if (connectedUser.CanWrite)
                {
                    <a href="@Url.Action("Create")" class="icon fa fa-plus-circle" title="Ajouter"></a>
                }
            }
            else if (action == "Details" || action == "Edit" || action == "Create")
            {
                @* Bouton Retour (Liste) *@
                <a href="@Url.Action("Index")" class="icon fa fa-list-ul" title="Retour à la liste"></a>

                if (action == "Details" && connectedUser.CanWrite)
                {
                    <a href="@Url.Action("Edit", new { id = ViewContext.RouteData.Values["id"] })" class="icon fa fa-edit" title="Modifier"></a>
                }
            }
        </div>
    }
</div>