@model Registrar.Models.Course

<div class="details-header" style="border-bottom: 2px solid #0066cc; margin-bottom: 25px; padding-bottom: 10px;">
    <div style="font-size: 0.8em; font-weight: normal; color: #000; margin-bottom: 5px;">
        @Model.Code
    </div>
    <div style="font-size: 0.8em; color: #000; font-weight: normal;">
        Session @Model.Session
    </div>
    <div style="font-size: 0.8em; color: #000; font-weight: normal;">
        @Model.Title
    </div>
</div>