@model Registrar.Models.Course
@{
    ViewBag.Title = "Cours - Dťtails";
}

<div style="max-width: 900px; margin: auto;">
    <div id="courseInfoContainer">
        @{ Html.RenderAction("GetCourseInfo", new { id = Model.Id, forceRefresh = true }); }
    </div>

    <div id="enrolledStudentsContainer">
        @{ Html.RenderAction("GetCourseStudents", new { id = Model.Id, forceRefresh = true }); }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            new AutoRefreshedPanel("courseInfoContainer", "@Url.Action("GetCourseInfo", new { id = Model.Id })", 5);
            new AutoRefreshedPanel("enrolledStudentsContainer", "@Url.Action("GetCourseStudents", new { id = Model.Id })", 5);
        });
    </script>
}