@model IEnumerable<Registrar.Models.Course>

@{
    // Récupère les numéros de sessions uniques (1, 2, 3...)
    var sessions = Model.Select(c => c.Session).Distinct().OrderBy(s => s);
}

@foreach (var session in sessions)
{
    var courses = Model.Where(c => c.Session == session);
    if (courses.Any())
    {
        <details id="courses_details_@session" open>
            <summary>Session @session</summary>
            @foreach (var item in courses)
            {
                <div class="CoursesListLayout">
                    @* Le clic mène maintenant à la page Détails, par souci de cohérence *@
                    <a href="@Url.Action("Details", new { id = item.Id })">
                        <span class="courseCode">@item.Code</span>
                        <span class="courseName">@item.Title</span>
                    </a>
                </div>
            }
        </details>
    }
}