
<div class="header-container">

</div>

<hr />
<div id="coursesListContainer">
    @* La liste sera chargÈe ici par GetCourses *@
</div>

@section Scripts {
    <script>
      $(document).ready(function () {
    new AutoRefreshedPanel(
        "coursesListContainer",
        "@Url.Action("GetCourses")",
        5,
        function () {
            if (typeof RestoreDetailsState === "function") {
                RestoreDetailsState(); // <--- TR»S IMPORTANT
            }
        }
          );

});

    </script>
    }
