.CoursesListLayout {
    height: 28px;
    display: flex; /* <-- AJOUT IMPORTANT */
    align-items: center;
    font-size: larger;
    cursor: pointer;
    padding-left: 6px;
    border-radius: 6px;
    font-family: 'Times New Roman';
}

    .CoursesListLayout a {
        text-decoration: none;
        color: black;
        display: flex; /* <-- AJOUT IMPORTANT */
        gap: 15px; /* <-- Espace entre le code et le titre */
        width: 100%;
    }

    .CoursesListLayout:hover {
        background-color: azure;
    }

.courseCode {
    font-family: Consolas;
    color: blue;
    min-width: 100px; /* Aligne tous les titres au même endroit */
}

/* On s'assure que la surbrillance est bien jaune */
mark {
    background-color: yellow;
    color: black;
}
