.cmdIcon {
    font-size: 1.5rem;
    color: rgb(0, 87, 204);
    cursor: pointer;
    text-decoration: none;
}

    .cmdIcon:hover {
        color: rgb(103, 165, 247);
    }

.cmdIconSmall {
    font-size: 1rem;
    color: #aaa;
    margin-left: 8px;
    cursor: pointer;
    text-decoration: none;
}

    .cmdIconSmall:hover {
        color: rgb(103, 165, 247);
    }

.menuIcon {
    font-size: 1.2rem;
    text-align: center;
    color: darkgray;
}

.item-layout {
    display: grid !important;
    grid-template-columns: 40px auto !important;
    align-items: center;
    cursor: pointer;
}

.flexItem {
    flex: 1;
}
