@model Registrar.Models.Teacher
@{
    ViewBag.Title = "Professeur - Dťtails";
}

<div style="max-width: 900px; margin: auto;">
    <div id="teacherInfoContainer">
        @{ Html.RenderAction("GetTeacherInfo", new { id = Model.Id, forceRefresh = true }); }
    </div>

    <div id="allocationsContainer">
        @{ Html.RenderAction("GetTeacherAllocations", new { id = Model.Id, forceRefresh = true }); }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            new AutoRefreshedPanel("teacherInfoContainer", "@Url.Action("GetTeacherInfo", new { id = Model.Id })", 5);
            new AutoRefreshedPanel("allocationsContainer", "@Url.Action("GetTeacherAllocations", new { id = Model.Id })", 5);
        });
    </script>
}