@model IEnumerable<Registrar.Models.Teacher>

<div class="teachers-grid">
    @foreach (var item in Model)
    {
        <div class="teacher-card">
           <a href="@Url.Action("Details", new { id = item.Id })">
               <span class="teacherCode">@item.Code</span>
               <div class="teacherName">@item.LastName @item.FirstName</div>
           </a>
        </div>
    }
</div>